
 <!-- Dividirlo en varios componentes -->
 <div class="main_view">
 <app-fecha-sistema [user]="user"></app-fecha-sistema>
 <crear-tarea (nuevaTarea)="addTarea($event)"> </crear-tarea>
 
 
  <listado-tareas 
    [arrData]="tareas"  
    (fueraTarea)="deleteTask($event)"
    
    (modificarTarea) = changeTarea($event)
    (alternarCompletada)="alternarCompletada($event)"
    
    >
  </listado-tareas>

  

  
  <!-- // Para visualizar un array - Tareas de depuración -->
  <!-- <pre>{{tareas | json}}</pre> -->

</div>